.headline_text { 
  color: #fff;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:  1;
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 0.04em;
  white-space: nowrap;
}