
.App {
  text-align: center;
  /* background: linear-gradient(90deg, #12c2e9 0%, #c471ed 46%, #f64f59 100%); */
  /* background-color: #000000; */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url('/public/noisegradient.png'); */
  background-color: #0f0e17;
  background-size: cover;
  color: #fffffe;
  overflow: hidden;
}

.blur {
  backdrop-filter: blur(3px);
  height: 100vh;
  width: 100vw;
}

.nav {
  font-weight: 700;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  margin: 16px 25px 0px 0px;
  color: white;
  font-size: 1.5em;
}

.nav div:hover {
  cursor: pointer;
  color: rgb(206, 146, 226);
  text-decoration: underline;
}

.logo {
  font-weight: 800;
  position: absolute;
  left: 0;
  top: 0;
  margin: 16px 0 0 25px;
  color: white;
  font-size: 1.5em;
}

.logo:hover{
  cursor: pointer;
}

.footer {
  font-weight: 800;
  position: absolute;
  bottom: 20px;
  color: white;
  font-size: 1em;
}

.body {
  padding: 20px 30px 20px 30px;
  /* margin: 5em 0 0 5em; */
}

@media (min-width: 480px) {
  .nav {
    margin: 40px 50px 0px 0px;
  }

  .logo {
    margin: 40px 0 0 50px;
  }

  .body {
    padding: 0px 50px 40px 50px;
  }
}

